.footer-copy {
    position: absolute;
    left: 5px;
    bottom: 5px;
    padding: 0px;
    margin: 0px;
}

.footer-sign-in-out {
    text-decoration: none;
    color: #FFECE0;
    position: absolute;
    right: 5px;
    bottom: 5px;
    margin: 0px;
}

.footer-sign-up {
    text-decoration: none;
    color: #FFECE0;
    position: absolute;
    right: 5px;
    bottom: 30px;
    margin: 0px;
}