body {
  margin: 0;
  font-family: "Besley", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFECE0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #FFECE0;
}
 
::-webkit-scrollbar-thumb {
  background: #8FB83B;
  border-radius: 10px;
}